table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table{
    width: 90%;
    margin-left: 60px;
}

th {
    background: steelblue;
}

tr:hover{
    background: lightsteelblue;
}

td:hover{
    background: lightblue;
}

img{
    float: right;
}

h2{
    background: steelblue;
}